@model IEnumerable<StaticFileUploadDownload.Models.VMDwonloadFiles>

@{
    ViewData["Title"] = "重新命名下載";
}

<h1>重新命名下載</h1>
<p>此頁面展示如何重新命名檔案，將其從 Upload 資料夾移動到 Download 資料夾，並下載</p>
<p>由於不涉及資料庫，VMDwonloadFiles 直接置於 Models</p>

<p></p>
<table class="table">
    <thead>
        <tr>
            <th class="w-10">&nbsp;</th>
            <th>檔案名稱</th>
            <th>檔案類型</th>
            <th>建立日期</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <form asp-action="DownloadRename">
                        <input type="hidden" asp-for="@item.idx" />
                        <input type="submit"  value="下載" class="btn btn-success" />
                    </form>
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.OriginalName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
            </tr>
        }
    </tbody>
</table>
